/ProyectoBasesI/nbproject/private/
/ProyectoBasesI/build/
/ProyectoBasesI/dist/
/ProyectoBasesI/ProyectoBasesI/build/
/ProyectoBasesI/ProyectoBasesI/dist/
/ProyectoBasesI/ProyectoBasesI/nbproject/private/